##### The Following is derived from a case study I completed on recommendations. For privacy and confidentiality, I've altered all of the IDS, locations, and job types in the dataset.

# K-Nearest Neighbors Weighting

### In February 2021, I completed a case with a large corporation whose business model relies on recommendation algorithms. The case asked for predictions based on the data offered. Here, I improve upon that case by experimenting with weighting variables in a KNN algorithm in order to give more importance to certain factors.

### Background: The dataset includes nearly 4000 users who have applied to a job. We have information on the user's career level, their location, their education, and we have information on the job they applied to: its location, education, and type.

### Our task is to predict for each user what three jobs they are likely to apply to next. Let's start.

In [1]:
#imports
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
#Let's look at the data

df = pd.read_csv('case_data.csv')
df.head()

,USERID,JOBID,UserState,CAREERLEVEL,UserEd,JobState,JobEd,JobType
0,003650a8-ae65-4d0d-9211-f9b7ae2ba87f,1c91a60f-8c98-4f4e-a8d2-b2b907ffa959,Illinois,Manager (Manager/Supervisor of Staff),Some College Coursework Completed,Illinois,High School or equivalent,CONSTRUCTION
1,be6510b5-6a32-4123-bcb0-1691423ab4d3,1c91a60f-8c98-4f4e-a8d2-b2b907ffa959,Illinois,Student (High School),Unspecified,Illinois,High School or equivalent,CONSTRUCTION
2,1cce0c54-be4c-471f-aa2a-468e55ca5924,1c91a60f-8c98-4f4e-a8d2-b2b907ffa959,Illinois,Manager (Manager/Supervisor of Staff),Some College Coursework Completed,Illinois,High School or equivalent,CONSTRUCTION
3,73bcb589-68c0-47f0-bf7b-c8ac5ef7353a,c82d255a-eae5-46e7-b727-7ba59737f184,Montana,Experienced (Non-Manager),Bachelors Degree,Montana,Bachelors Degree,MEDICAL
4,79e36f7f-d84a-4876-8f30-e97576c9b5bf,9eb0aaf0-8bc3-4e11-80df-53d78020c439,Illinois,Experienced (Non-Manager),Bachelors Degree,Massachusetts,Bachelors Degree,FINANCE

#### Remove any whitespace from columns

In [3]:
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

## EDA

#### Let's look at some of the locations

In [5]:
df.UserState.sample(20)

2138          Bristol
1264          Alabama
795        California
2676             Ohio
1600         New York
3585          Arizona
3057         Colorado
1224            Texas
3243    Massachusetts
1456         New York
2577         Virginia
3062    Massachusetts
1109            Texas
1691         Colorado
3486          Florida
2325          Florida
2558         New York
703             Texas
3520          Florida
1083            Texas
Name: UserState, dtype: object

#### Notice Bristol--It looks like there are foreign locations, so let's find out which ones

In [6]:
state_names = ["Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware","District of Columbia", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]
#Create df of foreign locations
foreign = df[df.UserState.apply(lambda x: False if x in state_names else True)]
print(foreign.UserState.value_counts())

Madrid        48
London        39
Manchester    37
Bristol       21
Birmingham    20
Paris         17
Prague        10
Wales          6
Ontario        6
Dublin         5
Alberta        3
Berlin         2
Rome           2
Sao Paulo      2
Tokyo          2
Scotland       1
Zï¿½rich         1
Quebec         1
Brussels       1
Kyoto          1
Frankfurt      1
Name: UserState, dtype: int64

#### Where are those in foreign countries applying?

In [7]:
#lets look at the locations of the jobs of users applying in Madrid
print(foreign[foreign.UserState=='Madrid']['JobState'].value_counts())

Madrid     45
Bristol     3
Name: JobState, dtype: int64

In [9]:
print(foreign[foreign.UserState=='London']['JobState'].value_counts())

London        31
Prague         2
Bristol        2
Scotland       2
Birmingham     1
Name: JobState, dtype: int64

#### Looks like most users in other countries are applying to jobs in their city and country, but there are exceptions

In [10]:
print('UNIQUE STATES: ',sorted(list(df.UserState.unique()), key=str.lower))

UNIQUE STATES:  ['Alabama', 'Alberta', 'Arizona', 'Arkansas', 'Berlin', 'Birmingham', 'Bristol', 'Brussels', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Dublin', 'Florida', 'Frankfurt', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Kyoto', 'London', 'Louisiana', 'Madrid', 'Maine', 'Manchester', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Ontario', 'Oregon', 'Paris', 'Pennsylvania', 'Prague', 'Puerto Rico', 'Quebec', 'Rhode Island', 'Rome', 'Sao Paulo', 'Scotland', 'South Carolina', 'Tennessee', 'Texas', 'Tokyo', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Wales', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'Zï¿½rich']

#### Let's replace that value in Zurich (It's been imported as ''Zï¿½rich")

In [11]:
df['UserState'] = df['UserState'].replace('Zï¿½rich','Zurich')
print(sorted(list(df.UserState.unique()), key=str.lower, reverse=True)[0])

Zurich

## Regions

### Let's generalize all locations and create regions so that if there aren't matching jobs in a state, we can look at nearby places

### If I'm applying to a Job in Boston, I'm more likely to be interested in jobs in New York City than in Los Angeles

In [17]:
us_state_abbrev = {'Alabama': 'AL','Alaska': 'AK','American Samoa': 'AS','Arizona': 'AZ','Arkansas': 'AR','California': 'CA',
    'Colorado': 'CO','Connecticut': 'CT','Delaware': 'DE','District of Columbia': 'DC','Florida': 'FL','Georgia': 'GA',
    'Guam': 'GU','Hawaii': 'HI','Idaho': 'ID','Illinois': 'IL','Indiana': 'IN','Iowa': 'IA','Kansas': 'KS','Kentucky': 'KY',
    'Louisiana': 'LA','Maine': 'ME','Maryland': 'MD','Massachusetts': 'MA','Michigan': 'MI','Minnesota': 'MN',
    'Mississippi': 'MS','Missouri': 'MO','Montana': 'MT','Nebraska': 'NE','Nevada': 'NV','New Hampshire': 'NH',
    'New Jersey': 'NJ','New Mexico': 'NM','New York': 'NY','North Carolina': 'NC','North Dakota': 'ND','Northern Mariana Islands':'MP',
    'Ohio': 'OH','Oklahoma': 'OK','Oregon': 'OR','Pennsylvania': 'PA','Puerto Rico': 'PR','Rhode Island': 'RI',
    'South Carolina': 'SC','South Dakota': 'SD','Tennessee': 'TN','Texas': 'TX','Utah': 'UT','Vermont': 'VT',
    'Virgin Islands': 'VI','Virginia': 'VA','Washington': 'WA','West Virginia': 'WV','Wisconsin': 'WI','Wyoming': 'WY'}

state_regions = {'AK': 'O','AL': 'S','AR': 'S','AS': 'O','AZ': 'W','CA': 'W','CO': 'W','CT': 'N','DC': 'N','DE': 'N',
        'FL': 'S','GA': 'S','GU': 'O','HI': 'O','IA': 'M','ID': 'W','IL': 'M','IN': 'M','KS': 'M','KY': 'S','LA': 'S',
        'MA': 'N','MD': 'N','ME': 'N','MI': 'W','MN': 'M','MO': 'M','MP': 'O','MS': 'S','MT': 'W','NA': 'O','NC': 'S',
        'ND': 'M','NE': 'W','NH': 'N','NJ': 'N','NM': 'W','NV': 'W','NY': 'N','OH': 'M','OK': 'S','OR': 'W','PA': 'N',
        'PR': 'O','RI': 'N','SC': 'S','SD': 'M','TN': 'S','TX': 'S','UT': 'W','VA': 'S','VI': 'O','VT': 'N','WA': 'W',
        'WI': 'M','WV': 'S','WY': 'W'}

foreign = {'Madrid':'SP','London':'UK','Manchester':'UK','Bristol':'UK','Birmingham':'UK','Paris':'FR',
           'Prague':'CR','Ontario':'CAN', 'Wales':'UK','Dublin':'IR','Alberta':'CAN','Rome':'IT',
           'Tokyo':'JP','Berlin':'GER','Sao Paulo':'BRA','Zurich':'SW','Brussels':'BEL','Quebec':'CAN',         
           'Scotland':'UK','Kyoto':'JP','Frankfurt':'GER','Normandy':'FR','Galway':'IR','Vienna':'AUS','Amsterdam':'NETH',
          'Toronto':'CAN','Dresden':'GER'}

#### Let's create a variable for country

In [18]:
df['job_country'] = df.JobState.apply(lambda x: 'USA' if x in list(us_state_abbrev.keys()) else (foreign.get(x,np.NaN)))
df['user_country'] = df.UserState.apply(lambda x: 'USA' if x in list(us_state_abbrev.keys()) else (foreign.get(x,np.NaN)))

#### And one for region

In [19]:
def get_region(row, column):
        if row[column] in list(us_state_abbrev.keys()):
            return state_regions[us_state_abbrev[row[column]]]
        elif row[column] in list(foreign.keys()):
            return foreign[row[column]]
        else:
            return np.NaN

df['job_region'] = df.apply(lambda x: get_region(x, 'JobState'), axis=1)
df['user_region'] = df.apply(lambda x: get_region(x, 'UserState'), axis=1)

#### Note: The region variable won't add much value to positions outside of the U.S. for multiple reasons: for one, there aren't enough observations for region to pull in similar jobs within a region. Second, my knowledge of European regional geography leaves much to be desired, so with my limited time, researching all of the localities and dividing the nations seemed like an inefficient use of my time.

#### As a substitute, I added the country variable: rather than recommending a position in Italy to a user who applied to a position in the U.K., this variable led the algorithm to recommend other positions in the U.K. In addition, within the U.S., this variable added weight to positions within the country even if they werenât in the same region.

In [20]:
print('Number of entries without a region: ', len(df[df.job_region.isnull()]))

Number of entries without a region:  5

In [21]:
df[df.job_region.isnull()]

,USERID,JOBID,UserState,CAREERLEVEL,UserEd,JobState,JobEd,JobType,job_country,user_country,job_region,user_region
38,e89cd6fa-ee9e-4473-b7d9-065fd1e09ae9,0efcbc05-a30e-4575-8c7d-972a8c0d1776,Pennsylvania,Experienced (Non-Manager),Vocational - High School,NaN,High School or equivalent,CONSTRUCTION,NaN,USA,NaN,N
1736,2981a7c0-a9cf-46f6-a609-ffac2207244b,4208d49a-7b5a-4713-894d-8ad23f83428a,West Virginia,Experienced (Non-Manager),Unspecified,NaN,High School or equivalent,CONSTRUCTION,NaN,USA,NaN,S
1940,1afd76ab-942e-4388-9dcb-32b5bb31c09d,af6c4a58-f5cc-4fa0-b743-8d7cbf62cf30,Dublin,Entry Level,Vocational,NaN,Bachelors Degree,FINANCE,NaN,IR,NaN,IR
2817,7cf17b97-2d96-4f1d-b8a9-261980f72d6f,fcf7cc45-d398-4f3b-88ba-dc51ad8cdb13,London,Experienced (Non-Manager),Bachelors Degree,NaN,Bachelors Degree,FINANCE,NaN,UK,NaN,UK
3162,39c6e386-f43f-45b6-9298-6650ea182bba,df7d2e52-0326-462e-92f2-1e14bfcfc5f1,California,Manager (Manager/Supervisor of Staff),Bachelors Degree,NaN,Bachelors Degree,FINANCE,NaN,USA,NaN,W

In [22]:
df.sample(10)

,USERID,JOBID,UserState,CAREERLEVEL,UserEd,JobState,JobEd,JobType,job_country,user_country,job_region,user_region
1700,750f75d8-593d-437d-99ca-06bf257ef4d3,d5280b53-2a33-482a-b097-c4e3f4c09f30,Texas,Manager (Manager/Supervisor of Staff),Unspecified,Texas,High School or equivalent,CONSTRUCTION,USA,USA,S,S
1981,6e74179d-48e7-4f10-8a6e-c132555069f5,615dcf4b-e3ad-4641-a20a-f1c265fe8291,Indiana,Experienced (Non-Manager),Unspecified,Indiana,High School or equivalent,CONSTRUCTION,USA,USA,M,M
2031,5fd89aca-d67f-4c26-8cdd-2ef994e6e518,332e5aed-fc6f-422a-bf1a-515657e5c777,New York,Manager (Manager/Supervisor of Staff),Bachelors Degree,New York,High School or equivalent,CONSTRUCTION,USA,USA,N,N
3486,ff2fbb96-4e60-4490-ab98-7a960714c0fe,8c66ef11-4947-4c00-8b0a-b5d7a7dc65ee,Florida,Student (undergraduate/graduate),Unspecified,Florida,High School or equivalent,CONSTRUCTION,USA,USA,S,S
1863,1d337763-9ec7-46a8-8fbd-115075b597c5,4cf6e5c4-129f-4056-88f7-cf2d6042bd96,Washington,Student (undergraduate/graduate),Bachelors Degree,New York,Bachelors Degree,FINANCE,USA,USA,N,W
1642,76e6a621-2a64-4462-9d16-3d7a87f91273,f5fe742e-8bc9-4b93-8f3a-d624934e2855,Kentucky,Experienced (Non-Manager),Unspecified,Texas,Bachelors Degree,FINANCE,USA,USA,S,S
1289,0fbbfb25-57ef-440f-848b-4401d68310bb,b93b1658-b73d-4f85-ab9e-ecb74f2b4c04,New Jersey,Student (undergraduate/graduate),High School or equivalent,New York,High School or equivalent,FINANCE,USA,USA,N,N
3484,74f6fe3a-951d-4e81-847f-c78b910b90d7,74b8f864-5953-4499-b7ca-92019250f100,Tennessee,Experienced (Non-Manager),Unspecified,Tennessee,High School or equivalent,MEDICAL,USA,USA,S,S
1393,49da6afb-a252-4ec1-b41e-67bc897309e4,a886101e-2c1b-44ba-9679-4c752896d369,West Virginia,Experienced (Non-Manager),Some College Coursework Completed,Ohio,Professional,CONSTRUCTION,USA,USA,M,S
2765,4949f335-b861-4205-bd62-7f70c238b86f,1b96bcae-671e-4355-963d-e9affc36de26,Texas,Manager (Manager/Supervisor of Staff),Unspecified,Texas,Bachelors Degree,FINANCE,USA,USA,S,S

### Location exploration

#### Are applicants applying to jobs in different countries?

In [23]:
print('Count of users applying outside their country: ', len(df[df.apply(lambda x: True if x['job_country'] != x['user_country'] else False, axis=1)]))

Count of users applying outside their country:  41

#### Looks like only a few, but lets see if there any patterns among them

In [24]:
df[df.apply(lambda x: True if x['job_country'] != x['user_country'] else False, axis=1)]

,USERID,JOBID,UserState,CAREERLEVEL,UserEd,JobState,JobEd,JobType,job_country,user_country,job_region,user_region
38,e89cd6fa-ee9e-4473-b7d9-065fd1e09ae9,0efcbc05-a30e-4575-8c7d-972a8c0d1776,Pennsylvania,Experienced (Non-Manager),Vocational - High School,NaN,High School or equivalent,CONSTRUCTION,NaN,USA,NaN,N
200,2581517a-d08a-4da0-8942-aeb495179a94,8db5cf9f-c6e7-45f4-930c-c8578774f6bb,Prague,Student (undergraduate/graduate),Unspecified,London,Certification,CONSTRUCTION,UK,CR,UK,CR
268,5d85427e-1512-4727-8147-ff4ffbc8ec17,8c786fdb-8ed5-4c7d-bfd3-549bc1627f96,Dublin,Experienced (Non-Manager),Unspecified,New York,Bachelors Degree,FINANCE,USA,IR,N,IR
645,5d85427e-1512-4727-8147-ff4ffbc8ec17,9f94bdb1-13c4-4c2e-bef6-a4c36b626cf3,Dublin,Experienced (Non-Manager),Unspecified,New York,Bachelors Degree,FINANCE,USA,IR,N,IR
894,60978e79-4d23-40f0-bd0c-6a7b420adb60,88adc908-af65-470e-b375-b66b059b5e1a,Prague,Student (undergraduate/graduate),Unspecified,London,High School or equivalent,CONSTRUCTION,UK,CR,UK,CR
1167,b57068ab-99b2-4b19-8244-f7af03c69430,af7422e3-9ec7-4f14-813f-05f803872d49,Tokyo,Experienced (Non-Manager),Masters Degree,New York,Some College Coursework Completed,FINANCE,USA,JP,N,JP
1595,c6fc0b81-83e0-4e84-97a1-e454490bcfa2,c10a827c-e48d-4ff1-ad17-f704073f1cc1,London,Experienced (Non-Manager),Unspecified,Prague,Some High School Coursework,CONSTRUCTION,CR,UK,CR,UK
1649,59465faf-2c21-4dc8-9457-65349ee33fc9,0db15dbd-0f88-4a0a-a74e-2081a7b00157,Sao Paulo,Experienced (Non-Manager),Bachelors Degree,Massachusetts,Bachelors Degree,FINANCE,USA,BRA,N,BRA
1731,df943a4d-1d8c-4f8e-ac8e-c46b86499d60,d18466d1-9877-4269-a781-b875a61410e2,Bristol,Entry Level,Unspecified,Madrid,Some High School Coursework,CONSTRUCTION,SP,UK,SP,UK
1736,2981a7c0-a9cf-46f6-a609-ffac2207244b,4208d49a-7b5a-4713-894d-8ad23f83428a,West Virginia,Experienced (Non-Manager),Unspecified,NaN,High School or equivalent,CONSTRUCTION,NaN,USA,NaN,S
1802,349cff3e-4a7e-4c8a-9662-11aa8fb1c254,22dad9e7-61ec-4413-b64d-08c17b475d18,Tokyo,Experienced (Non-Manager),Bachelors Degree,California,Bachelors Degree,CONSTRUCTION,USA,JP,W,JP
1940,1afd76ab-942e-4388-9dcb-32b5bb31c09d,af6c4a58-f5cc-4fa0-b743-8d7cbf62cf30,Dublin,Entry Level,Vocational,NaN,Bachelors Degree,FINANCE,NaN,IR,NaN,IR
2021,13ddf3cb-24ca-44e3-a38b-4699f6d093ef,84051891-45e0-4b13-a502-7c0679d9f37e,Minnesota,Entry Level,Unspecified,London,Bachelors Degree,FINANCE,UK,USA,UK,M
2054,5f5681c1-1d6e-410c-85c3-9bba40a38cca,5d1113d4-383c-4488-b524-e05a0bb315ae,Kyoto,Experienced (Non-Manager),Bachelors Degree,California,Bachelors Degree,CONSTRUCTION,USA,JP,W,JP
2094,54489003-ca60-4a03-9451-b61726ca9415,698f81a4-6fa7-4b86-aa3e-48320c584220,Rome,Student (High School),Unspecified,California,Bachelors Degree,FINANCE,USA,IT,W,IT
2208,c19a5f21-228b-4dac-a499-c065ed0b2b94,4b7142af-eb6b-4de6-aed9-4b916f216dc5,California,Experienced (Non-Manager),Masters Degree,Vienna,Bachelors Degree,FINANCE,AUS,USA,AUS,W
2209,b31741d6-5fa8-4490-ae73-be5c78f458b7,4b7142af-eb6b-4de6-aed9-4b916f216dc5,California,Experienced (Non-Manager),Unspecified,Vienna,Bachelors Degree,FINANCE,AUS,USA,AUS,W
2210,63491453-8840-490f-aa69-7dcd4d2112c5,4b7142af-eb6b-4de6-aed9-4b916f216dc5,Texas,Entry Level,Masters Degree,Vienna,Bachelors Degree,FINANCE,AUS,USA,AUS,S
2211,120696fc-e65c-47f3-a1ed-6da193cab02a,4b7142af-eb6b-4de6-aed9-4b916f216dc5,California,Entry Level,Some College Coursework Completed,Vienna,Bachelors Degree,FINANCE,AUS,USA,AUS,W
2212,9e77566c-33d6-4a5a-bc30-33b51c9edd14,4b7142af-eb6b-4de6-aed9-4b916f216dc5,California,Manager (Manager/Supervisor of Staff),Unspecified,Vienna,Bachelors Degree,FINANCE,AUS,USA,AUS,W
2489,86a1202f-99fa-40de-b13f-bc4ae3cf7ac4,cd2e69e6-bc60-454d-be20-b3126561e6f9,Prague,Student (High School),Unspecified,London,High School or equivalent,CONSTRUCTION,UK,CR,UK,CR
2524,d5ca7994-c5c1-49ba-8553-d796a5c62cdf,11db0465-f454-4648-b21d-19cd52cdb3b9,Prague,Experienced (Non-Manager),Unspecified,London,Bachelors Degree,FINANCE,UK,CR,UK,CR
2624,ac9a80d3-59e5-4539-97de-e1e622fd922f,7f455145-006a-4a9b-ad3f-dc964a623fd1,California,Experienced (Non-Manager),Unspecified,Amsterdam,Bachelors Degree,FINANCE,NETH,USA,NETH,W
2625,ac9a80d3-59e5-4539-97de-e1e622fd922f,32b3472a-1570-4c1a-9dac-137991a0e043,California,Experienced (Non-Manager),Unspecified,Zurich,Bachelors Degree,FINANCE,SW,USA,SW,W
2779,547f9f55-1d38-426b-ac0c-d089af68f1f1,ca3ee092-5af2-4f27-b52d-49fded4f01de,Prague,Manager (Manager/Supervisor of Staff),Unspecified,London,Some High School Coursework,CONSTRUCTION,UK,CR,UK,CR
2817,7cf17b97-2d96-4f1d-b8a9-261980f72d6f,fcf7cc45-d398-4f3b-88ba-dc51ad8cdb13,London,Experienced (Non-Manager),Bachelors Degree,NaN,Bachelors Degree,FINANCE,NaN,UK,NaN,UK
2844,4b232d54-0cad-4d32-9d97-bd0a6f0e38e5,6413d5e0-9c62-4215-83f5-e83d39449dd9,Madrid,Student (High School),Unspecified,Bristol,High School or equivalent,CONSTRUCTION,UK,SP,UK,SP
2869,b2f9b3a4-5b90-4ac4-ba12-7caca47450b6,fb74a50c-9dcd-476c-b414-93ff498b5043,Maryland,Manager (Manager/Supervisor of Staff),Unspecified,Dresden,Professional,FINANCE,GER,USA,GER,N
3051,0d03d717-ea37-4d5f-8f52-9c57708a744c,b78bf9ff-ea50-4ad0-94a8-f7b6cc97a581,New York,Experienced (Non-Manager),Unspecified,Berlin,Bachelors Degree,FINANCE,GER,USA,GER,N
3064,63edaf92-fb8d-4e99-b0d2-0cc66dc6509a,3007c4e2-f39c-4ab2-8f7b-e4967b3aa2da,Sao Paulo,Manager (Manager/Supervisor of Staff),Unspecified,London,Professional,FINANCE,UK,BRA,UK,BRA
3101,92075b21-de18-45ff-8293-43127606baff,ff8f65c1-26ee-461e-b2c1-76e75f9e2292,Brussels,Experienced (Non-Manager),Unspecified,Berlin,Vocational,FINANCE,GER,BEL,GER,BEL
3153,2723ecaa-423b-4a41-ab9b-4de4693491b4,6139fd91-9ace-46d8-bdff-6454ada1ce20,Bristol,Manager (Manager/Supervisor of Staff),Unspecified,Madrid,Some High School Coursework,CONSTRUCTION,SP,UK,SP,UK
3154,2723ecaa-423b-4a41-ab9b-4de4693491b4,96672839-73d5-418a-b4d2-48ec6378f699,Bristol,Manager (Manager/Supervisor of Staff),Unspecified,Madrid,Some High School Coursework,CONSTRUCTION,SP,UK,SP,UK
3162,39c6e386-f43f-45b6-9298-6650ea182bba,df7d2e52-0326-462e-92f2-1e14bfcfc5f1,California,Manager (Manager/Supervisor of Staff),Bachelors Degree,NaN,Bachelors Degree,FINANCE,NaN,USA,NaN,W
3257,7be96f9b-0d64-4c67-a670-00b8f80f59b4,8215369a-a173-42ab-8f4c-c73731b96c53,Prague,Entry Level,Unspecified,London,Certification,CONSTRUCTION,UK,CR,UK,CR
3260,70944f40-4aae-4b35-afe8-d678572ee3c2,8a4e33ac-36ba-4064-a146-2e9276ec8465,Madrid,Entry Level,Unspecified,Bristol,Some High School Coursework,CONSTRUCTION,UK,SP,UK,SP
3265,f1c6f346-201b-4233-8cbd-eeb56d9792d6,126aa81b-a1f5-459d-814d-ff2a3cb42f15,Madrid,Student (High School),Unspecified,Bristol,Vocational,CONSTRUCTION,UK,SP,UK,SP
3293,e227c4fa-c9af-4ced-94fc-45c1744455a8,426eb7e6-af42-4932-8248-c8ee6e354318,London,Experienced (Non-Manager),Unspecified,Prague,Vocational,CONSTRUCTION,CR,UK,CR,UK
3308,d2949669-6ece-421f-9edd-357163345be5,2e930bb3-eaf2-412d-8e09-54e03cbb9b35,Birmingham,Manager (Manager/Supervisor of Staff),Unspecified,California,Masters Degree,FINANCE,USA,UK,W,UK
3361,242c1602-0737-479e-bb39-43468ad026a5,ac2e2775-e80c-4cc3-961e-41e8202afe8e,Birmingham,Experienced (Non-Manager),Unspecified,Madrid,Some High School Coursework,CONSTRUCTION,SP,UK,SP,UK
3466,7e7269a9-700f-4424-95d2-565ea4f05276,c2b6b56e-3104-41d1-916a-c883b54b859d,New York,Student (undergraduate/graduate),Vocational - High School,Zurich,Bachelors Degree,FINANCE,SW,USA,SW,N

#### Looks like the majority of the jobs are in finance: let's see if finance jobs are more likely to apply farther away

In [25]:
print('Percent of FINANCE jobs applying to same region: ', round(len(df[df.apply(lambda x: True if (x['JobType']=='FINANCE') & 
    (x['job_region']==x['user_region']) else False, axis=1)])/len(df[df['JobType']=='FINANCE']),2),'\n')

print('Percent of MEDICAL jobs applying to same region: ', round(len(df[df.apply(lambda x: True if (x['JobType']=='MEDICAL') & 
    (x['job_region']==x['user_region']) else False, axis=1)])/len(df[df['JobType']=='MEDICAL']),2),'\n')

print('Percent of CONSTRUCTION jobs applying to same region: ', round(len(df[df.apply(lambda x: True if (x['JobType']=='CONSTRUCTION') & 
    (x['job_region']==x['user_region']) else False, axis=1)])/len(df[df['JobType']=='CONSTRUCTION']),2),'\n')

Percent of FINANCE jobs applying to same region:  0.82

Percent of MEDICAL jobs applying to same region:  0.9

Percent of CONSTRUCTION jobs applying to same region:  0.94

#### Looks like finance jobs are less likely to apply to the same region, but not by a wide enough margin where I want to factor it into the model

### Feature Correlations

#### I want to see if there's variance between variables and location, so let's create a column for users applying to jobs far away

In [26]:
df['state_diff'] = df.apply(lambda x: 1 if x['JobState'] != x['UserState'] else 0, axis=1)
df['region_diff'] = df.apply(lambda x: 1 if x['job_region'] != x['user_region'] else 0, axis=1)
df['country_diff'] = df.apply(lambda x: 1 if x['job_country'] != x['user_country'] else 0, axis=1)

In [27]:
df.sample(2)

,USERID,JOBID,UserState,CAREERLEVEL,UserEd,JobState,JobEd,JobType,job_country,user_country,job_region,user_region,state_diff,region_diff,country_diff
1250,33ea7cb9-e01f-4b4f-b069-d59ce700a7eb,ce7ae102-a5f3-4177-a609-5ababc073203,Wisconsin,Entry Level,Unspecified,Wisconsin,High School or equivalent,CONSTRUCTION,USA,USA,M,M,0,0,0
1718,101d051f-56db-4256-b7f1-c97dbc80741a,97a3d05e-34ae-4dad-ab85-5c36ffaf2321,Texas,Entry Level,High School or equivalent,Texas,Certification,CONSTRUCTION,USA,USA,S,S,0,0,0

In [28]:
#Create dictionary to get totals
def compare_totals(df, var):
    var_total  = df.groupby([var]).agg({'USERID':'count',"state_diff":"sum","region_diff":"sum","country_diff":"sum"}).reset_index()      
    totals = pd.Series(var_total['USERID'].values,index=var_total[var]).to_dict() 
    var_total['total'] = var_total[var].map(totals) 
    var_total['state_diff'] = round(var_total['state_diff']/var_total['total'],3)
    var_total['region_diff'] = round(var_total['region_diff']/var_total['total'],3)
    var_total['country_diff'] = round(var_total['country_diff']/var_total['total'],3)
    return var_total

In [29]:
compare_totals(df, 'CAREERLEVEL')

,CAREERLEVEL,USERID,state_diff,region_diff,country_diff,total
0,Entry Level,789,0.279,0.112,0.009,789
1,"Executive (SVP, VP, Department Head, etc)",106,0.255,0.104,0.000,106
2,Experienced (Non-Manager),1288,0.229,0.122,0.015,1288
3,Manager (Manager/Supervisor of Staff),776,0.195,0.084,0.010,776
4,"Senior Executive (President, CEO, etc)",30,0.133,0.067,0.000,30
5,Student (High School),232,0.134,0.043,0.017,232
6,Student (undergraduate/graduate),381,0.199,0.102,0.008,381

#### Doesn't look like Career level is indicative of location differentials. Let's look at Job type

In [30]:
compare_totals(df, 'JobType')

        JobType  USERID  state_diff  region_diff  country_diff  total
0  CONSTRUCTION    2023       0.132        0.061         0.009   2023
1       FINANCE    1155       0.394        0.180         0.020   1155
2       MEDICAL     424       0.193        0.097         0.000    424

#### Compare job types with vars

In [31]:
#Create dictionary to get totals
def compare_jobtype_totals(df, var):
    df = pd.concat([df, pd.get_dummies(df['JobType'])], axis=1)
    var_total  = df.groupby([var]).agg({'USERID':'count','FINANCE':'sum','MEDICAL':'sum','CONSTRUCTION':'sum'}).reset_index()      
    totals = pd.Series(var_total['USERID'].values,index=var_total[var]).to_dict() 
    var_total['total'] = var_total[var].map(totals) 
    var_total['FINANCE'] = round(var_total['FINANCE']/var_total['total'],3)
    var_total['MEDICAL'] = round(var_total['MEDICAL']/var_total['total'],3)
    var_total['CONSTRUCTION'] = round(var_total['CONSTRUCTION']/var_total['total'],3)
    return var_total

compare_jobtype_totals(df, "UserEd")

,UserEd,USERID,FINANCE,MEDICAL,CONSTRUCTION,total
0,Associate Degree,71,0.099,0.268,0.634,71
1,Bachelors Degree,248,0.435,0.149,0.415,248
2,Certification,71,0.183,0.127,0.690,71
3,Doctorate,20,0.750,0.100,0.150,20
4,High School or equivalent,316,0.057,0.136,0.807,316
5,Masters Degree,226,0.841,0.062,0.097,226
6,Professional,15,0.333,0.000,0.667,15
7,Some College Coursework Completed,166,0.163,0.114,0.723,166
8,Some High School Coursework,53,0.113,0.057,0.830,53
9,Unspecified,2195,0.322,0.111,0.568,2195
10,Vocational,70,0.086,0.286,0.629,70
11,Vocational - High School,151,0.358,0.099,0.543,151

In [32]:
compare_jobtype_totals(df, "JobEd")

,JobEd,USERID,FINANCE,MEDICAL,CONSTRUCTION,total
0,Associate Degree,118,0.085,0.847,0.068,118
1,Bachelors Degree,923,0.852,0.108,0.040,923
2,Certification,254,0.000,0.362,0.638,254
3,Doctorate,12,1.000,0.000,0.000,12
4,High School or equivalent,1666,0.016,0.034,0.950,1666
5,Masters Degree,161,0.820,0.180,0.000,161
6,Professional,220,0.755,0.091,0.155,220
7,Some College Coursework Completed,43,0.488,0.302,0.209,43
8,Some High School Coursework,157,0.000,0.025,0.975,157
9,Vocational,46,0.022,0.174,0.804,46
10,Vocational - High School,2,0.000,1.000,0.000,2

#### Analysis: while data jobs see more applicants from different regions, the difference between the locations of data applicants and the location of nursing and transport applicants wasnât significant enough to warrant inclusion in a model.

#### Similarly, I there's a slight increase in the likelihood of those further along in their careers to apply to jobs outside their state, but again the difference isnât significant enough to warrant adding to the model.

### Feature Selection & Engineering

In [33]:
list(df.job_country.unique())

['USA',
 nan,
 'SP',
 'UK',
 'GER',
 'FR',
 'CR',
 'IR',
 'CAN',
 'AUS',
 'IT',
 'NETH',
 'SW']

#### Note: I'm removing user_state from the model. If I apply to a job in new york that someone in London also applied for, I don't want my recommendations to be affected by what other people in London are applying to.

In [34]:
#Feature Engineering
df_train = df[['CAREERLEVEL','job_region','JobState','job_region','job_country','JobEd', 'JobType']]
df_train=df_train.fillna(value=0)

# Weighting

### I spent considerable time thinking about how to give certain variables more weight than others, as not all variables should be considered to have equal value in recommendations. For example, recommending an entry-level nursing job in Arizona that requires a bachelorâs degree for someone in Arizona who has a bachelorâs degree, is looking for an entry level position, but works in data would not be valuable.

### **In order to put more weight on certain variables, I duplicated their columns: this will add an extra dimension to each observationâs vector and decrease its distance from observations that share that attributeâs value. I weighted the variables as follows:

#### â¢	Job type: 7

#### â¢	Job education: 4

#### â¢	Job state: 3

#### â¢	Job region:2

#### â¢	Job country: 2

#### â¢	User career: 1

In [36]:
def create_weights(df, weights):
    cols = list(df.columns)
    for i, col in enumerate(cols):        
        for x in range(0, weights[col]):
            #CREATE DUMMY VARIABLE FOR EACH VALUE IN COLUMNS WE CARE ABOUT
            df = pd.concat([df, pd.get_dummies(df[col])], axis=1)
    #drop columns not in dummy format
    df = df.drop(cols,axis=1)
    df=df.fillna(value=0)
    return df

In [37]:
weights = {'CAREERLEVEL':1, 'job_region':2,'job_country':2,'JobState':3,'JobEd':4, 'JobType':7}
df_train = create_weights(df_train, weights)

print('Number of Vars: ',len(list(df_train.columns)))

Number of Vars:  436

### Here, I'm "inorganically" applying weights to the variables. It's more important that we recommend a job to a user that is in their field than is in their state (i.e., it's better to show a data position in new york to a data applicant living in california than to show them a nursing job in california.)

### This is not the cleanest or most glamorous method, but it should have the intended effect.

#### Job type is most important, and after job type, the next most important should be job education level. The next most important variable is location, but if the states don't match, I want to suggest jobs in the general region, so I'm adding job_region. Finally, if there are multiple possibilites with those options, then we can look to see if users with similar educations and career levels applied.

#### The actual value of the weights is not as important as the size of the weights relative to each other.

#### I used job region so that if a position is not in the same state as the job previously applied to, positions in the same region will be prioritized over positions farther away. By using both region and state, it will prioritize regional jobs over non-regional jobs, but still award the most weight to jobs in the same state.

### Train

In [38]:
knn_weight = NearestNeighbors(metric='cosine',algorithm='brute', n_neighbors=40)
knn_weight.fit(df_train)
distances, indices = knn_weight.kneighbors(df_train)

In [39]:
#Indicies output is in an array
print(indices[0])

[3204 3058 3059    0 1206 1622 1525  335 3428 1523    2 2017  815  329
  814 3328  328  336  333 2579 2859  334 1205  327  326 2858  331  330
 1522 1204  332 1203 3133 2526 2910 1519 1520 1521 3216 2860]

#### We run into a problem here: since different applicants apply to the same job, our model has multiple rows for the same job even though the vectors are different. With a nurse from Texas with a bachelors, Our model wants to first recommend a job that a different nurse from texas with a bachelors applied for, and second wants to recommend a job that a nurse from texas with an associates applied for, since the model sees them as different. However, they're the same job, so we have to delete those duplciates. We can see how the duplicates arise from the example below

In [43]:
df[df.JOBID=='356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb']

,USERID,JOBID,UserState,CAREERLEVEL,UserEd,JobState,JobEd,JobType,job_country,user_country,job_region,user_region,state_diff,region_diff,country_diff
850,7767d3a3-1e80-4225-8a04-1daf22744546,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
851,7767d3a3-1e80-4225-8a04-1daf22744546,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
852,03a4b1e3-6504-4033-9d1a-5a70f06e6958,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
853,794c58f0-1929-4d22-8074-3c7339fb1f0e,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
854,5068bd5b-4a2c-4270-9f18-1163f86c69a7,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,"Executive (SVP, VP, Department Head, etc)",Bachelors Degree,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
855,57e06aa2-d564-4532-adac-c32c430580ea,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Bachelors Degree,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
856,195c64cb-9093-4e71-b42e-de5047e48838,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Entry Level,Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
857,e2ed7533-f1e6-4a51-985d-84149a76e199,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Entry Level,Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
858,cfa385a8-ccf6-45d3-8ddd-ad9a5c6ab467,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
859,9ff781af-03e0-4110-9ff7-201c32a8197e,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Associate Degree,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
860,cafe07c1-cd52-442f-b615-9e3f29909c17,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New Jersey,Entry Level,Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,1,0,0
861,d91ca2fd-cf8f-48f2-8a0a-78459b9698bc,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New Jersey,Manager (Manager/Supervisor of Staff),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,1,0,0
862,50ceefd8-add7-49f7-92ea-a9718e2ba2c5,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
863,70440496-f173-4f7e-a3a6-d56b704bea4d,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
864,0b1158bd-a95c-4a40-ae29-383af8124330,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
865,55c0210b-021f-4801-b6ce-3e2fc7ce15e4,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Vocational,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
866,62a64977-be93-4c1c-8673-d9a6505d3c8f,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,"Executive (SVP, VP, Department Head, etc)",Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
867,52331d1b-52e2-4896-a58b-07d2e6d64b33,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
868,255dc2ab-6ce5-4a02-958b-46f56ae29119,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
869,190bb304-5df4-44b9-aafe-8a96031ca3c7,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
870,bbce30e3-7136-42ae-8c10-0804372644df,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,Illinois,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,M,1,1,0
871,e646b3f1-4df2-43eb-81f0-4052a2ac39f0,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Bachelors Degree,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
872,117386d6-2fd9-48fa-98df-e91e88c83cbf,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Some College Coursework Completed,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
873,b68d9360-c2d3-43ed-84fe-d7a57feb6804,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Entry Level,Bachelors Degree,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
874,5f077f9e-881a-498d-a0e5-2b252e4b4641,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
875,140817e7-4b07-4e1e-9f4f-83426b7eb571,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Some College Coursework Completed,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
876,468ab22f-fa57-47d5-b23e-b9ce1415a0ed,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (undergraduate/graduate),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
877,2c59f01f-de84-4bd9-ac81-bbd7ef58a241,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Student (High School),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
878,f5ec72f0-21ab-49a8-b29a-4d8b5b65d376,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
879,3f8223f0-4f8f-40c4-be67-983ad8f120f3,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Experienced (Non-Manager),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
880,7a498caa-a39f-4cc1-b99d-1407f88b1ea7,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Entry Level,Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0
881,fd09daff-0fe3-45ef-8936-5aaedaa6d91c,356aa9a3-cdb8-4d88-8fb6-714dd04ba9bb,New York,Manager (Manager/Supervisor of Staff),Unspecified,New York,Associate Degree,MEDICAL,USA,USA,N,N,0,0,0

#### We have 40 neighbors (excessive, but ensuring that we have enough in case the first 30 are all the job above). Lets create a list for each that can be added as columns

In [44]:
matches = [x for x in range(1, 41)]

#Create empty list for neighbor quantity (1-40)
for x in range(1,len(matches)+1):
    locals()['match_{0}'.format(x)] = []

#append the jobID of each neighbor to the appropriate list
for i in range(0, len(df_train)):
    for x in range(1, len(matches) + 1):
        locals()['match_{0}'.format(x)].append(df['JOBID'].iloc[indices[i][x-1]])

#### Now, add the lists as columns

In [45]:
results = df.copy()
for x in range(1, len(matches)+1):
    results['match_{0}'.format(x)] = locals()['match_{0}'.format(x)]
print(results.columns)

Index(['USERID', 'JOBID', 'UserState', 'CAREERLEVEL', 'UserEd', 'JobState',
       'JobEd', 'JobType', 'job_country', 'user_country', 'job_region',
       'user_region', 'state_diff', 'region_diff', 'country_diff', 'match_1',
       'match_2', 'match_3', 'match_4', 'match_5', 'match_6', 'match_7',
       'match_8', 'match_9', 'match_10', 'match_11', 'match_12', 'match_13',
       'match_14', 'match_15', 'match_16', 'match_17', 'match_18', 'match_19',
       'match_20', 'match_21', 'match_22', 'match_23', 'match_24', 'match_25',
       'match_26', 'match_27', 'match_28', 'match_29', 'match_30', 'match_31',
       'match_32', 'match_33', 'match_34', 'match_35', 'match_36', 'match_37',
       'match_38', 'match_39', 'match_40'],
      dtype='object')

#### We can see below that numerous users are being recommended the same job as their 1st and 2nd match

In [46]:
results['duplicate']=results.apply(lambda x: True if x['match_1']==x['match_2'] else False, axis=1)
print('Number of users with identical first and second job matches: ', len(results[results.duplicate]))

Number of users with identical first and second job matches:  591

#### Lets use the function below to find the top 3 unique job numbers

In [47]:
def delete_duplicates(row):
    applied = row[0]
    uniques = list(set(row.values.tolist()))    
    if applied in uniques:
        uniques.remove(applied)
    row[1], row[2], row[3] = uniques[0], uniques[1], uniques[2]
    return row

In [48]:
results_test = results[['JOBID','match_1',
       'match_2', 'match_3', 'match_4', 'match_5', 'match_6', 'match_7',
       'match_8', 'match_9', 'match_10', 'match_11', 'match_12', 'match_13',
       'match_14', 'match_15', 'match_16', 'match_17', 'match_18', 'match_19',
       'match_20', 'match_21', 'match_22', 'match_23', 'match_24', 'match_25',
       'match_26', 'match_27', 'match_28', 'match_29', 'match_30', 'match_31',
       'match_32','match_33','match_34','match_35','match_36','match_37','match_38',
        'match_39','match_40',]]

results_test = results_test.apply(lambda x: delete_duplicates(x), axis=1)

#### Let's check to see if we got rid of the duplicates

In [49]:
results_test['duplicate']=results_test.apply(lambda x: True if x['match_1']==x['match_2'] else False, axis=1)
print('Number of users with identical first and second job matches: ',len(results_test[results_test.duplicate]))
results_test['duplicate']=results_test.apply(lambda x: True if x['match_2']==x['match_3'] else False, axis=1)
print('Number of users with identical second and third job matches: ', len(results_test[results_test.duplicate]))
results_test['duplicate']=results_test.apply(lambda x: True if x['match_1']==x['match_3'] else False, axis=1)
print('Number of users with identical first and third job matches: ', len(results_test[results_test.duplicate]))
results_test['duplicate']=results_test.apply(lambda x: True if (x['JOBID']==x['match_1']) or (x['JOBID']==x['match_2'])
                                             or (x['JOBID']==x['match_3']) else False, axis=1)
print('Number of users shown recommendation they previously applied to: ', len(results_test[results_test.duplicate]))

Number of users with identical first and second job matches:  0
Number of users with identical second and third job matches:  0
Number of users with identical first and third job matches:  0
Number of users shown recommendation they previously applied to:  0

#### Perfect! Lets map those columns back onto the main results page

In [50]:
results['match_1'],results['match_2'], results['match_3'] = results_test['match_1'].tolist(),results_test['match_2'].tolist(), results_test['match_3'].tolist() 

results = results[['USERID', 'JOBID', 'UserState', 'CAREERLEVEL', 'UserEd', 'JobState','JobEd', 'JobType', 'job_country', 
           'user_country', 'job_region','user_region', 'state_diff', 'region_diff', 'country_diff', 'match_1','match_2', 
           'match_3']]

### How did we do?

In [51]:
results_indices = df[['USERID', 'JOBID', 'CAREERLEVEL', 'JobState','job_region','JobEd', 'JobType']].set_index('JOBID')

sample = results[['USERID', 'JOBID', 'CAREERLEVEL', 'JobState','job_region','JobEd', 'JobType',
           'match_1','match_2', 'match_3']].sample(5)
for index, row in sample.iterrows():
    print('JOB: ','\n', row,'\n')
    print('Rec 1: ',results_indices.loc[sample['match_1'].loc[index]],'\n')
    print('Rec 2: ',results_indices.loc[sample['match_2'].loc[index]],'\n')
    print('Rec 3: ',results_indices.loc[sample['match_3'].loc[index]],'\n')
    print('\n\n\n')

JOB:
 USERID          9c0f783c-b249-41a2-9e0a-e4cb46018be4
JOBID           a3e34c0f-d175-4a88-9c8f-a40ff0ce7912
CAREERLEVEL    Manager (Manager/Supervisor of Staff)
JobState                                     Georgia
job_region                                         S
JobEd                      High School or equivalent
JobType                                 CONSTRUCTION
match_1         85fe685a-1cbf-4566-bde6-8079399eae2e
match_2         5a84fbd7-be03-43e1-af95-e3c3e5fb15b7
match_3         f168c43f-6114-4824-adca-bde6ddba6a8f
Name: 121, dtype: object

Rec 1:  USERID         b4ea148d-c0a2-40ba-bf91-a10f369a8aa7
CAREERLEVEL                   Student (High School)
JobState                                    Georgia
job_region                                        S
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
Name: 85fe685a-1cbf-4566-bde6-8079399eae2e, dtype: object

Rec 2:                                                                      USERID  \
JOBID
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  c58c1ca9-a378-4f75-be0b-fc3d9c153242
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  8b4cd2bd-9903-408c-8a4f-098ca6bc72c1
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  8ca1a9ac-9b55-4a4b-94db-ba95e83e3f3b
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  5f808bb9-44e9-44cf-a212-bce0ce759a0a
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  8c4895e0-d8b7-4b0c-b16e-1237cd17b30d
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  8b986219-e7aa-469b-88a1-7bb4248e41a1
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  0e154b0e-9c5c-4ecb-8ac7-218971058de9

                                                                    CAREERLEVEL  \
JOBID
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7                  Experienced (Non-Manager)
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7                  Experienced (Non-Manager)
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7                  Experienced (Non-Manager)
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Executive (SVP, VP, Department Head, etc)
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7                      Student (High School)
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7           Student (undergraduate/graduate)
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7      Manager (Manager/Supervisor of Staff)

                                     JobState job_region  \
JOBID
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  Georgia          S

                                                          JobEd       JobType
JOBID
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION
5a84fbd7-be03-43e1-af95-e3c3e5fb15b7  High School or equivalent  CONSTRUCTION

Rec 3:                                                                      USERID  \
JOBID
f168c43f-6114-4824-adca-bde6ddba6a8f  b1341464-8a95-4a1e-9dd5-daf7b53139d8
f168c43f-6114-4824-adca-bde6ddba6a8f  bd501876-1437-4743-90de-7544c9d2e6ed
f168c43f-6114-4824-adca-bde6ddba6a8f  4a10cd9e-b2d4-4d25-935a-a4730dc02320
f168c43f-6114-4824-adca-bde6ddba6a8f  7294465f-6ea5-4b72-8b9f-f1c9be6e8e9a
f168c43f-6114-4824-adca-bde6ddba6a8f  320b2db3-53cd-4004-af05-12f052090e7c
f168c43f-6114-4824-adca-bde6ddba6a8f  469bb734-cc7e-402b-8ae6-ed3dbe9c9dd4

                                                                CAREERLEVEL  \
JOBID
f168c43f-6114-4824-adca-bde6ddba6a8f       Student (undergraduate/graduate)
f168c43f-6114-4824-adca-bde6ddba6a8f              Experienced (Non-Manager)
f168c43f-6114-4824-adca-bde6ddba6a8f                  Student (High School)
f168c43f-6114-4824-adca-bde6ddba6a8f  Manager (Manager/Supervisor of Staff)
f168c43f-6114-4824-adca-bde6ddba6a8f              Experienced (Non-Manager)
f168c43f-6114-4824-adca-bde6ddba6a8f                  Student (High School)

                                     JobState job_region  \
JOBID
f168c43f-6114-4824-adca-bde6ddba6a8f  Georgia          S
f168c43f-6114-4824-adca-bde6ddba6a8f  Georgia          S
f168c43f-6114-4824-adca-bde6ddba6a8f  Georgia          S
f168c43f-6114-4824-adca-bde6ddba6a8f  Georgia          S
f168c43f-6114-4824-adca-bde6ddba6a8f  Georgia          S
f168c43f-6114-4824-adca-bde6ddba6a8f  Georgia          S

                                                          JobEd       JobType
JOBID
f168c43f-6114-4824-adca-bde6ddba6a8f  High School or equivalent  CONSTRUCTION
f168c43f-6114-4824-adca-bde6ddba6a8f  High School or equivalent  CONSTRUCTION
f168c43f-6114-4824-adca-bde6ddba6a8f  High School or equivalent  CONSTRUCTION
f168c43f-6114-4824-adca-bde6ddba6a8f  High School or equivalent  CONSTRUCTION
f168c43f-6114-4824-adca-bde6ddba6a8f  High School or equivalent  CONSTRUCTION
f168c43f-6114-4824-adca-bde6ddba6a8f  High School or equivalent  CONSTRUCTION





JOB:
 USERID         b0144507-2810-4f1e-9837-6c1f9408421f
JOBID          e72c9e24-9e98-4d38-bdc5-4f672f22e92d
CAREERLEVEL                   Student (High School)
JobState                               Pennsylvania
job_region                                        N
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
match_1        6ff3c82b-adae-4332-b4f1-70fd4f7e3471
match_2        2708d28e-c526-4a3b-a0c3-c809387ab781
match_3        390deeae-3fd7-416f-944f-f6f9744e2796
Name: 596, dtype: object

Rec 1:  USERID         fffb4388-8afd-4f09-91b2-4d6c56d5b7f1
CAREERLEVEL               Experienced (Non-Manager)
JobState                               Pennsylvania
job_region                                        N
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
Name: 6ff3c82b-adae-4332-b4f1-70fd4f7e3471, dtype: object

Rec 2:  USERID         6f15af68-edf3-46c0-9ee1-3e4f9dd9eb4a
CAREERLEVEL                   Student (High School)
JobState                               Pennsylvania
job_region                                        N
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
Name: 2708d28e-c526-4a3b-a0c3-c809387ab781, dtype: object

Rec 3:  USERID         c9c633ee-8a88-4e66-8b0f-f888da5fb806
CAREERLEVEL               Experienced (Non-Manager)
JobState                               Pennsylvania
job_region                                        N
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
Name: 390deeae-3fd7-416f-944f-f6f9744e2796, dtype: object





JOB:
 USERID         7081eb2a-b394-4a43-9510-ead2fa110d7d
JOBID          c422fe79-4b81-4aa3-a149-8eb7a624e20b
CAREERLEVEL               Experienced (Non-Manager)
JobState                                      Texas
job_region                                        S
JobEd                              Bachelors Degree
JobType                                     FINANCE
match_1        1627b8ab-5c57-4744-a58b-37b216a3a4e9
match_2        c1977091-0e2b-4574-92c2-31765eb0bae6
match_3        5571ab04-a7d9-48e2-aef7-44a9f63d31ed
Name: 1000, dtype: object

Rec 1:  USERID         e2836fea-87e6-402d-8ef3-2927ff6e66b5
CAREERLEVEL               Experienced (Non-Manager)
JobState                                      Texas
job_region                                        S
JobEd                              Bachelors Degree
JobType                                     FINANCE
Name: 1627b8ab-5c57-4744-a58b-37b216a3a4e9, dtype: object

Rec 2:                                                                      USERID  \
JOBID
c1977091-0e2b-4574-92c2-31765eb0bae6  524427aa-fb12-4881-8a88-d6cf50ffe60f
c1977091-0e2b-4574-92c2-31765eb0bae6  70700ce9-0f48-48b2-a465-1862daf199d5
c1977091-0e2b-4574-92c2-31765eb0bae6  e0869810-c322-4479-8f62-fcadd6ddfe89
c1977091-0e2b-4574-92c2-31765eb0bae6  d59a4184-8e79-42f9-9fd7-783e529681b4

                                                           CAREERLEVEL  \
JOBID
c1977091-0e2b-4574-92c2-31765eb0bae6         Experienced (Non-Manager)
c1977091-0e2b-4574-92c2-31765eb0bae6         Experienced (Non-Manager)
c1977091-0e2b-4574-92c2-31765eb0bae6  Student (undergraduate/graduate)
c1977091-0e2b-4574-92c2-31765eb0bae6         Experienced (Non-Manager)

                                     JobState job_region             JobEd  \
JOBID
c1977091-0e2b-4574-92c2-31765eb0bae6    Texas          S  Bachelors Degree
c1977091-0e2b-4574-92c2-31765eb0bae6    Texas          S  Bachelors Degree
c1977091-0e2b-4574-92c2-31765eb0bae6    Texas          S  Bachelors Degree
c1977091-0e2b-4574-92c2-31765eb0bae6    Texas          S  Bachelors Degree

                                      JobType
JOBID
c1977091-0e2b-4574-92c2-31765eb0bae6  FINANCE
c1977091-0e2b-4574-92c2-31765eb0bae6  FINANCE
c1977091-0e2b-4574-92c2-31765eb0bae6  FINANCE
c1977091-0e2b-4574-92c2-31765eb0bae6  FINANCE

Rec 3:  USERID         0a134140-e06a-42c7-bf66-f02b28031c69
CAREERLEVEL               Experienced (Non-Manager)
JobState                                      Texas
job_region                                        S
JobEd                              Bachelors Degree
JobType                                     FINANCE
Name: 5571ab04-a7d9-48e2-aef7-44a9f63d31ed, dtype: object





JOB:
 USERID         80fd1941-fab1-4fff-b977-2b1262b256ff
JOBID          b93b1658-b73d-4f85-ab9e-ecb74f2b4c04
CAREERLEVEL                             Entry Level
JobState                                   New York
job_region                                        N
JobEd                     High School or equivalent
JobType                                     FINANCE
match_1        d0bf9412-d898-40c1-905f-4ff84455319a
match_2        61683fc7-2fc6-4c02-a7ae-96a927e59faf
match_3        2c1ba949-88d4-45f1-9c68-dadf81e52514
Name: 1288, dtype: object

Rec 1:                                                                      USERID  \
JOBID
d0bf9412-d898-40c1-905f-4ff84455319a  4e227b61-12f7-4502-96ae-3c51c5800eae
d0bf9412-d898-40c1-905f-4ff84455319a  86e989d5-7d9d-4b62-8a78-4e56f8f213ac
d0bf9412-d898-40c1-905f-4ff84455319a  874723b2-d9ea-4f2c-85d2-363eada55211
d0bf9412-d898-40c1-905f-4ff84455319a  b12a7cbf-59db-484d-bc98-3f37423f56c2
d0bf9412-d898-40c1-905f-4ff84455319a  579c6701-5f4c-497a-ac67-a5d1927ebc62

                                                                CAREERLEVEL  \
JOBID
d0bf9412-d898-40c1-905f-4ff84455319a                            Entry Level
d0bf9412-d898-40c1-905f-4ff84455319a  Manager (Manager/Supervisor of Staff)
d0bf9412-d898-40c1-905f-4ff84455319a              Experienced (Non-Manager)
d0bf9412-d898-40c1-905f-4ff84455319a  Manager (Manager/Supervisor of Staff)
d0bf9412-d898-40c1-905f-4ff84455319a              Experienced (Non-Manager)

                                      JobState job_region         JobEd  \
JOBID
d0bf9412-d898-40c1-905f-4ff84455319a  New York          N  Professional
d0bf9412-d898-40c1-905f-4ff84455319a  New York          N  Professional
d0bf9412-d898-40c1-905f-4ff84455319a  New York          N  Professional
d0bf9412-d898-40c1-905f-4ff84455319a  New York          N  Professional
d0bf9412-d898-40c1-905f-4ff84455319a  New York          N  Professional

                                      JobType
JOBID
d0bf9412-d898-40c1-905f-4ff84455319a  FINANCE
d0bf9412-d898-40c1-905f-4ff84455319a  FINANCE
d0bf9412-d898-40c1-905f-4ff84455319a  FINANCE
d0bf9412-d898-40c1-905f-4ff84455319a  FINANCE
d0bf9412-d898-40c1-905f-4ff84455319a  FINANCE

Rec 2:                                                                      USERID  \
JOBID
61683fc7-2fc6-4c02-a7ae-96a927e59faf  663bfb8b-fb39-4841-b25e-72aa04faf01f
61683fc7-2fc6-4c02-a7ae-96a927e59faf  87ac2d47-d3b7-4717-a46a-31ddb84ff362

                                                    CAREERLEVEL  JobState  \
JOBID
61683fc7-2fc6-4c02-a7ae-96a927e59faf                Entry Level  New York
61683fc7-2fc6-4c02-a7ae-96a927e59faf  Experienced (Non-Manager)  New York

                                     job_region             JobEd  JobType
JOBID
61683fc7-2fc6-4c02-a7ae-96a927e59faf          N  Bachelors Degree  FINANCE
61683fc7-2fc6-4c02-a7ae-96a927e59faf          N  Bachelors Degree  FINANCE

Rec 3:                                                                      USERID  \
JOBID
2c1ba949-88d4-45f1-9c68-dadf81e52514  e9f590e6-262a-4145-9020-732f0fb59cf8
2c1ba949-88d4-45f1-9c68-dadf81e52514  2a5f4d53-60ac-43e3-a5b7-d8fdd6388dcb
2c1ba949-88d4-45f1-9c68-dadf81e52514  4c50602f-f4f7-4105-b0dc-3c36d68b5c97
2c1ba949-88d4-45f1-9c68-dadf81e52514  0d4aeb6d-b659-4c70-8d0c-8f915fdeec8d
2c1ba949-88d4-45f1-9c68-dadf81e52514  e1a0d99f-78c1-4877-b0af-c3c83bffeabc
2c1ba949-88d4-45f1-9c68-dadf81e52514  47f8b45e-5ad7-457d-80f2-457ef45a0a88
2c1ba949-88d4-45f1-9c68-dadf81e52514  c5264f7e-3169-40aa-a340-a37ff1265281
2c1ba949-88d4-45f1-9c68-dadf81e52514  0af78f6f-8f7d-4456-8aa2-38b98a4d0a2c
2c1ba949-88d4-45f1-9c68-dadf81e52514  8b664b71-7f37-4170-a733-c7392ef17514
2c1ba949-88d4-45f1-9c68-dadf81e52514  54ab3398-e5ba-45a3-bece-76fc50605c06

                                                                CAREERLEVEL  \
JOBID
2c1ba949-88d4-45f1-9c68-dadf81e52514              Experienced (Non-Manager)
2c1ba949-88d4-45f1-9c68-dadf81e52514  Manager (Manager/Supervisor of Staff)
2c1ba949-88d4-45f1-9c68-dadf81e52514              Experienced (Non-Manager)
2c1ba949-88d4-45f1-9c68-dadf81e52514              Experienced (Non-Manager)
2c1ba949-88d4-45f1-9c68-dadf81e52514                            Entry Level
2c1ba949-88d4-45f1-9c68-dadf81e52514       Student (undergraduate/graduate)
2c1ba949-88d4-45f1-9c68-dadf81e52514                            Entry Level
2c1ba949-88d4-45f1-9c68-dadf81e52514              Experienced (Non-Manager)
2c1ba949-88d4-45f1-9c68-dadf81e52514                            Entry Level
2c1ba949-88d4-45f1-9c68-dadf81e52514              Experienced (Non-Manager)

                                      JobState job_region             JobEd  \
JOBID
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree
2c1ba949-88d4-45f1-9c68-dadf81e52514  New York          N  Bachelors Degree

                                      JobType
JOBID
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE
2c1ba949-88d4-45f1-9c68-dadf81e52514  FINANCE





JOB:
 USERID         4fd9bf29-90ae-43eb-b35e-74ed2a7ba191
JOBID          d1a20e22-6b43-42a4-9d0f-b83f531eb586
CAREERLEVEL                             Entry Level
JobState                                     Madrid
job_region                                       SP
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
match_1        b3e1abfb-05b5-436d-8a2c-3ecc639f35c1
match_2        55c2035a-2727-47cf-be7a-da98d39ce7f4
match_3        823342fd-76bb-4a5b-9bd5-7105e35b1bd7
Name: 3166, dtype: object

Rec 1:  USERID         b58e704e-e5cc-4d95-8f7d-2b28d9a0bd13
CAREERLEVEL                   Student (High School)
JobState                                     Madrid
job_region                                       SP
JobEd                   Some High School Coursework
JobType                                CONSTRUCTION
Name: b3e1abfb-05b5-436d-8a2c-3ecc639f35c1, dtype: object

Rec 2:  USERID         cf37d552-3933-4ef4-a85b-0e98dbdefb87
CAREERLEVEL               Experienced (Non-Manager)
JobState                                     Madrid
job_region                                       SP
JobEd                     High School or equivalent
JobType                                CONSTRUCTION
Name: 55c2035a-2727-47cf-be7a-da98d39ce7f4, dtype: object

Rec 3:  USERID         b58e704e-e5cc-4d95-8f7d-2b28d9a0bd13
CAREERLEVEL                   Student (High School)
JobState                                     Madrid
job_region                                       SP
JobEd                   Some High School Coursework
JobType                                CONSTRUCTION
Name: 823342fd-76bb-4a5b-9bd5-7105e35b1bd7, dtype: object

## The recommendations look pretty good! Although messy, it looks like duplicating columns can function as a weighting algorithm for KNN!

#### In addition, a more sophisticated algorithm to recommend regional jobs would improve the model. While the model does well in recommending jobs in the same region for certain parts of the US (say, recommending a job in Pennsylvania to an applicant that lives in New Jersey), the same algorithm doesnât apply as well for the Midwest and West Coast, where the algorithm will recommend a job in Texas to someone from Colorado (not an outrageous recommendation, but certainly not as ideal as NJ to PA). I also didnât develop an efficient way to account for rows with certain variables blank: if a location is blank, it can skew recommendations since the algorithm considers it a match with other attributes that are blank.

#### Commentary: There are plenty of aspects that could be improved in this model. For one, empirical evidence regarding tradeoffs for applicants would be key: would a data analyst be more likely to apply to a job outside his or her state if the education requirement meets his/her own?

In [ ]:
Let me know what you think! email: austintarullo@gmail.com